body{
    padding-top: 8%;
    background-color: black;
    color:white;
    font-family: "Ubuntu","HelveticaNeue","Helvetica Neue",sans-serif;

}
.topLedger{
    display: none;
}
.nav-container{
    width:100%;
}

.logo{
    float: left;
    width:20%;
    margin-top:-1%;
}


table{
    width:100%;
    background-color: white;
    color: #4266b2;
}

tr{
    height:30px;
    border: 1px solid gray;
}
td, th{
    text-align: center;
}
td img{
    width: 20px;
}

.navbar-nav{
    width: 100%;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #22afa1;
}

.navbar-nav>li {
    display: inline-block !important;
    float: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
    font-family: "Ubuntu","HelveticaNeue","Helvetica Neue",sans-serif;   
}

@media only screen and (max-width: 768px) {

    body{
        padding-top: 15%;
    }
    /* For mobile phones: */
    .logo {
        float: left;
        width: 34%;
        margin-left: 32%;
        margin-top: 2%;
    }
    #ledger {
        display: none;
    }
    .topLedger{
        display: block;
    }
    .navbar-brand{
        float:none;
    }
    .navbar-toggle{
        margin-top:5%;
        margin-left:10%;
        float:none;
    }
    .collapse{
        text-align: center;
    }
    .Mcap{
        display: none;
    }
    .container{
        width: 100%;
        margin:0;
    }
} /* This is fo the mobile responsiveness */
